* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../../../Montserrat/static/Montserrat-Bold.ttf);
}
body {
  background-color: #fbf5f4;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-logo {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.logoDonaticP1 {
  width: 36rem;
  height: 30rem;
}
.buttons {
  width: 100vw;
  height: 14rem;
  background-color: #c31315;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.boton {
  height: 7rem;
  width: 21rem;
  border-radius: 4.25rem;
  background-color: #c31315;
  border: 0.4rem solid #ffffff;
  font-family: "Montserrat-Bold";
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;

  
}
.boton:hover {
  background-color: #f66451;
}
