* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
      font-family: 'Montserrat-Regular';
      src: url(../../../Montserrat/static/Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: 'Montserrat-Medium';
    src: url(../../../Montserrat/static/Montserrat-Medium.ttf);
}


  body{
      background-color: #3996D0;
      font-family: 'Montserrat-SemiBold';
      max-width:100vw;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      gap: 3rem;
  }
  .container-blanco{
    background-color: #FFFFFF;
    height: 12rem;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    border: 1rem solid #FFFFFF;
}
.logo{
    height: 8rem;
    width: 10rem;
}
.BotonVolver{
    background-color: transparent;
    border: 0rem solid transparent;
    height: 6.5rem;
    width: 6.5rem;
    cursor: pointer;
}
.FlechaVolver{
    height: 6rem;
    width: 6rem;
}
.container-juegos{
    height: auto;
    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.tarjeta{
    height: 25rem;
    width: 19rem;
    background-color: #FFFFFF;
    border: 0.7rem solid #236695;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    font-family: 'Montserrat-Regular';
    font-size: 1.3rem;
    position: relative;
    overflow: hidden;

}
.tarjeta:hover{
    transform: scale(1.05);
    border: 0.7rem solid #F66451;

}
.juego {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat-Regular';
    font-size: 1.6rem;
    padding: 0.5rem;
    gap: 1rem;
}
.dos{
    gap: 0.5rem;
}
.juego.hover {
    opacity: 0;
} 
.tarjeta:hover .juego.hover {
    opacity: 1;
} 
.tarjeta:hover .juego.original {
    opacity: 0;
} 
.jugar {
    height: 4rem;
    width: 10rem;
    background-color: #F66451;
    border: 0.2rem solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 1rem;
    font-family: 'Montserrat-Medium';
    font-size: 2rem;
    box-shadow: 0.5rem 0.5rem 1rem #30303061;
    cursor: pointer;
}  
.jugar:hover {
    background-color: #f83920;
}