* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../../../Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url(../../../Montserrat/static/Montserrat-ExtraBold.ttf);
}
body{
    background-color: #F5EFEE;
    max-width:100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}
header{
    width: 80%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    height: 8rem;
    width: 9.5rem;
}
.BotonVolver{
    background-color: transparent;
    border: none;
    height: 6rem;
    width: 9.5rem;
    display: flex;
    justify-content: flex-start;
}
.FlechaVolver{
    height: 6rem;
    width: 6rem;
    cursor: pointer;
}
.Titulo{
    height: 5rem;
    width: 30rem;
    background-color: #3996D0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat-ExtraBold';
    color: #FFFFFF;
    font-size: 3rem;
}
.Registro{
    width: 80%;
    height: 38rem;
    background-color: #F66451;
    border: 0.5rem solid #C31315;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.Input{
    height: 3rem;
    width: 90%;
    background-color: #FFFFFF;
    border: 0.2rem solid #C31315;
    color: #C31315;
    font-family: 'Montserrat-Medium';
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
::placeholder{
    color: #C31315;
}
.FotoPerfil{
    height: 13rem;
    width: 25rem;
    background-color: #FFFFFF;
    border: 0.2rem solid #C31315;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #C31315;
    font-family: 'Montserrat-Medium';
    font-size: 1.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}
.subir-label {
  display: flex;
  background: none;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
}
.Subir{
    height: 6.5rem;
    width: 6.5rem;
}
.Confirmar{
    width: 16rem;
    height: 5rem;
    background-color: #C31315;
    border: 0.1rem solid #FFFFFF;
    border-radius: 0.5rem;
    font-family: 'Montserrat-Medium';
    font-size: 1.8rem;
    color: #FFFFFF;
    cursor: pointer;
}
.Confirmar:hover{
box-shadow: 0.5rem 0.5rem 1rem #30303061}