* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
      font-family: 'Montserrat-SemiBold';
      src: url(../../../Montserrat/static/Montserrat-SemiBold.ttf);
  }

  body{
      background-color: #C31315;
      font-family: 'Montserrat-SemiBold';
      max-width:100vw;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      gap: 2rem;
  }
  .container-blanco{
    background-color: #FFFFFF;
    height: 12rem;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    border: 1rem solid #FFFFFF;
}
.logo{
    height: 8rem;
    width: 9.5rem;
}
.BotonesCG{
    height: 5rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.BotonCG{
    height: 5rem;
    width: 5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.BotonICE{
    background-color: #F66451;
    border-radius: 0.5rem;
    border: 0.5rem solid #FFFFFF;
    width: 90%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: #FFFFFF;
    font-size: 3rem;
    cursor: pointer;
}
.BotonICE:hover{
    height: 13rem;
    transition: 1s;
}