* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../../../Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(../../../Montserrat/static/Montserrat-Medium.ttf);
}

body {
  background-color: #3996d0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 4rem;
}
.container-blanco {
  background-color: #ffffff;
  height: 12rem;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  border: 1rem solid #ffffff;
}
.logo {
  height: 8rem;
  width: 10rem;
}
.popup1 {
  position: absolute;
  width: 560px;
  height: 200px;
  opacity: 1;
  top: 475px;
  left: 398px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  background-color: #3996D0;
  padding: 10px;
  gap: 10px;
}
.popup1 h3{
  font-family: "Montserrat-Medium", sans-serif;
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.pasar {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 60px;
  height: 60px;
  top: 120px;
  opacity: 1;
  left: 240px;
}
.popupinco{
  position: absolute;
  width: 660px;
  height: 520px;
  background-color: #C31315;
  opacity: 1;
  top: 315px;
  left: 340px;
  border-width: 3px;
  border-radius: 14px;
  border-style: solid;
  border-color: #F66451;
}
.blanquito {
  position: absolute;
  width: 578px;
  height: 118px;
  top: 60px;
  left: 38px;
  border-radius: 14px;
  background-color: white;
  opacity: 1;
}
.blanquito h3 {
  font-family: "Montserrat-Medium", sans-serif;
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #C31315;
}
.pasarinco{
  position: absolute;
  background-color: transparent;
  border: none;
  width: 60px;
  height: 60px;
  top: 440px;
  opacity: 1;
  left: 580px;
}
.moraleja {
  font-family: "Montserrat-Medium",sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;  
  opacity: 1;
}
.BotonVolver {
  background-color: transparent;
  border: 0rem solid transparent;
  height: 6.5rem;
  width: 6.5rem;
  cursor: pointer;
}
.FlechaVolver {
  height: 6rem;
  width: 6rem;
}

.Indicador {
  width: 80%;
  height: 36rem;
  background-color: #236995;
  border: 0.5rem solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  font-family: "Montserrat-SemiBold";
  color: #ffffff;
  font-size: 1rem;
}
#Estudiante {
  background-color: transparent;
  border: 0rem solid transparent;
  height: 6.5rem;
  width: 6.5rem;
  cursor: pointer;
}
#pregunta {
  color: #ffffff;
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
  margin: 0;
  width: 60%;
  margin-top: 2rem;
}
.botones {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.botonzito {
  display: inline-block;
  margin: 0 10px;
  width: 20rem;
  height: 5rem;
  border: none;
  font-family: "Montserrat-Medium";
  font-size: 2em;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 1rem #30303061;
}
.botonzito:hover {
  transform: scale(1.06);
}
#btnF {
  background-color: #c31315;
  color: #ffffff;
}
#btnV {
  background-color: #ffffff;
  color: #3996d0;
}

#CuadradoCorrecto {
  font-size: 2rem;
  text-align: center;
}
