* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../../../Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../../../Montserrat/static/Montserrat-Medium.ttf);
}

body{
  background-color: #3996D0;
  max-width:100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 4rem;
}
.container-blanco{
  background-color: #FFFFFF;
  height: 12rem;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  border: 1rem solid #FFFFFF;
}
.logo{
  height: 8rem;
  width: 10rem;
}
.BotonVolver{
  background-color: transparent;
  border: 0rem solid transparent;
  height: 6.5rem;
  width: 6.5rem;
  cursor: pointer;
}
.FlechaVolver{
  height: 6rem;
  width: 6rem;
}

.Indicador{
  width: 80%;
  height: 36rem;
  background-color: #236995;
  border: 0.5rem solid #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  font-family: 'Montserrat-SemiBold';
  color: #FFFFFF;
  font-size: 1rem;
}
#Estudiante{
  background-color: transparent;
  border: 0rem solid transparent;
  height: 6.5rem;
  width: 6.5rem;
  cursor: pointer;
}
#pregunta {
  color: #FFFFFF;
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
  margin: 0;
  width: 60%;
  margin-top: 2rem;
}
.botones{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.botonzito{
  display: inline-block; 
  margin: 0 10px;      
  width: 20rem;
  height: 5rem;
  border: none;
  font-family: 'Montserrat-Medium';
  font-size: 2em;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 1rem #30303061
}
.botonzito:hover{
  transform: scale(1.06);
}
#btnF{
  background-color:#C31315 ;
  color: #FFFFFF;
}
#btnV{
  background-color: #FFFFFF;
  color: #3996D0;
}
#popup1 {
  display: none;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;  
}

.popupcontent {
  background-color: #3996D0;
  color: white;
  font-size: 2rem;
  width: 400px;
  height: 200px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#CuadradoCorrecto {
  font-size: 2rem;
  text-align: center;
}