* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
      font-family: 'Montserrat-SemiBold';
      src: url(../../../Montserrat/static/Montserrat-SemiBold.ttf);
  }

  body{
      background-color: #3996D0;
      font-family: 'Montserrat-SemiBold';
      max-width:100vw;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      gap: 4rem;
  }
  
  .container-blanco{
      background-color: #FFFFFF;
      height: 12rem;
      width: 94%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 2rem;
      border: 1rem solid #FFFFFF;
  }
  .logo{
      height: 8rem;
      width: 10rem;
  }

  .BotonVolver{
      background-color: transparent;
      border: 0rem solid transparent;
      height: 6.5rem;
      width: 6.5rem;
      cursor: pointer;
  }
  .FlechaVolver{
      height: 6rem;
      width: 6rem;
  }
  .Indicador{
    width: 80%;
    height: 36rem;
    background-color: #236995;
    border: 0.5rem solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 2rem;
    color: #FFFFFF;
    font-size: 1rem;
  }
  h2{
    width: 60rem;
    height: 20rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 2rem;
  }
  .puede{
    height: 4rem;
    width: 40rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 0rem solid transparent;
    font-family:  'Montserrat-SemiBold';
    font-size: 2rem;
    color: #FFFFFF;
  }
  .puede:hover{
    transform: scale(1.06);   
  }
  #btnF {
  background-color: #c31315;
  color: #ffffff;
}
#btnV {
  background-color: #ffffff;
  color: #3996d0;
}

#CuadradoCorrecto {
  font-size: 2rem;
  text-align: center;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(../../../Montserrat/static/Montserrat-Medium.ttf);
}


.popup1 {
  position: absolute;
  width: 560px;
  height: 200px;
  opacity: 1;
  top: 475px;
  left: 398px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  background-color: #3996d0;
  padding: 10px;
  gap: 10px;
}
.popup1 h3 {
  font-family: "Montserrat-Medium";
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.pasar {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 60px;
  height: 60px;
  opacity: 1;
}

.popupinco {
  position: absolute;
  width: 44rem;
  height: 36rem;
  background-color: #c31315;
  opacity: 1;
  top: 19rem;
  left: 21rem;
  border-width: 0.2rem;
  border-radius: 0.9rem;
  border-style: solid;
  border-color: #f66451;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.blanquito {
  position: absolute;
  width: 36rem;
  height: 7rem;
  top: 3rem;
  border-radius: 0.9rem;
  background-color: white;
  opacity: 1;
  left: 4rem;
}
.blanquito h3 {
  font-family: "Montserrat-Medium";
  text-align: center;
  padding-top: 0.9rem;
  font-size: 5rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: #c31315;
}
.moraleja {
  font-family: "Montserrat-Medium";
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 4rem;
  text-align: center;
  opacity: 1;
  color: white;
}
.pasar {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 4rem;
  height: 4rem;
  top: 26rem;
  opacity: 1;
  cursor: pointer;
  left: 33rem;
  
}
.pasarC {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 4rem;
  height: 4rem;
  top: 7.2rem;
  opacity: 1;
  cursor: pointer;
  left: 15rem;
}
#CuadradoCorrecto {
  font-size: 2rem;
  text-align: center;
}