* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../../../Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url(../../../Montserrat/static/Montserrat-ExtraBold.ttf);
}

body{
    background-color: #F66451;
    max-width:100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 4rem;
}

.container-blanco{
    background-color: #FFFFFF;
    height: 12rem;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    border: 1rem solid #FFFFFF;
}
.logo{
    height: 8rem;
    width: 10rem;
}
.BotonVolver{
    background-color: transparent;
    border: 0rem solid transparent;
    height: 6.5rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.FlechaVolver{
    height: 6rem;
    width: 6rem;
    cursor: pointer;

}
.estadisticas{
    height: auto;
    width: 94%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Montserrat-Medium';
}

h3{
    background-color: #FFFFFF;
    height: 2.5rem;
    width: 30rem;
    padding: 0.5rem;
    text-align: center;
    font-family: 'Montserrat-Medium';
    color: #236995;
    font-size: 1.3rem;
    border-radius: 0.8rem;
    border: 0.2rem solid #236995;
}
p{
    background-color: #FFFFFF;
    height: 2.5rem;
    width: 30rem;
    padding: 0.5rem;
    margin-left: 0rem;
    text-align: center;
    font-family: 'Montserrat-Medium';
    color: #C31315;
    font-size: 1.3rem;
    border-radius: 0.8rem;
    border: 0.2rem solid #C31315;
    
}

.fila-stat p {
    width: auto;            
    flex: 1;                 
    margin: 0;               
    text-align: left;        
}

.fila-stat p:last-child {
    text-align: right;      
}

.jugador-contenedor {
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: flex-start;
}

.columna-stats {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    flex: 1;
}

.jugador-bloque {
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 2rem; 
}

.columna-stats {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    flex: 1;
}

.fila-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




